@using Microsoft.AspNet.Identity
@{
    var isTemporaryUser = (bool)(ViewData["IsTemporaryUser"] ?? false);
}

@if (Request.IsAuthenticated && !isTemporaryUser)
{    
    using (Html.BeginForm("LogOff", "Account", new { area = "" }, FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: new { area = "" }, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:sessionStorage.removeItem('accessToken');$('#logoutForm').submit();">Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        @if (isTemporaryUser)
        {
            <li>
                <a>(Temporary User Id: @User.Identity.GetUserId())</a>
            </li>
        }
        <li>
            <span>Currency:</span><select ng-model="selectedCurrency" ng-change="updateCurrency(defaultCurrency, selectedCurrency)" ng-options="currency.code for currency in currencies track by currency.id"></select>
        </li>

        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: new {area = ""}, htmlAttributes: new {id = "registerLink"})</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: new {area = ""}, htmlAttributes: new {id = "loginLink"})</li>
    </ul>
}
